.icon {
  width: 30px;
  height: 30px;
}

.logo {
  height: 50px;
  width: 50px;
}

@media (max-width: 991px) {
  .navbar-collapse {
    background-color: #614f36; /* dark dropdown bg */
    margin-left: 300px;
  }

  .nav-link img {
    filter: invert(1); /* make icons visible on dark bg */
  }
}
